<link href="/styles/social-bar.css" rel="stylesheet">

<div class="social">
  <a href="http://eepurl.com/ibsGtf" target="_blank">
    <i class="bi bi-envelope-fill"></i>
  </a>
  <div class="separator">&nbsp;</div>
  <a href="https://twitter.com/FlutterBounties" target="_blank">
    <i class="bi bi-twitter-x"></i>
  </a>
  <div class="separator">&nbsp;</div>
  <a href="https://blog.flutterbountyhunters.com/feed/" target="_blank">
    <i class="bi bi-rss-fill"></i>
  </a>
</div>